
<script lang="ts" setup>
</script>

<template>
  <header class="app-header">
    <nav class="app-header__navbar app-navbar" id="application-navbar">
    </nav>
  </header>
</template>

<style lang="sass" scoped>
.app-header
  height: 5%
  width: 100%
  margin: 4rem 0 5rem 0
  padding: 0 5rem

  &__navbar
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    gap: 4rem
</style>
