<script setup lang="ts">
export interface ModalContainerEmits {
  (e: 'fog-click'): void
}

const emit = defineEmits<ModalContainerEmits>();

const onFogClick = () => emit('fog-click');
</script>

<template>
  <Teleport to="body">
    <div class="modal-fog" @click="onFogClick">
      <slot />
    </div>
  </Teleport>
</template>

<style scoped lang="sass">
.modal-fog
  position: absolute
  z-index: var(--z-modal)
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: var(--modal-fog-color)
  display: flex
  justify-content: center
  align-items: center
</style>
