<script setup lang="ts">
import ModalContainer from '@/shared/ui/ModalContainer.vue';
import AddIcon from '@/shared/ui/icons/AddIcon.vue';
import { computed } from 'vue';

export interface CreatePostModalProps {
  modelValue: string
}

export interface CreatePostModalEmits {
  (e: 'close'): void
  (e: 'save'): void
  (e: 'fog-click'): void
  (e: 'update:modelValue', value: string): void
}

const props = defineProps<CreatePostModalProps>();
const emit = defineEmits<CreatePostModalEmits>();

const value = computed({
  get() {
    return props.modelValue;
  },

  set(value: string) {
    emit('update:modelValue', value);
  }
})

const onFogClick = () => emit('fog-click');
const onClose = () => emit('close');
const createPost = () => emit('save');
</script>

<template>
  <modal-container @fog-click="onFogClick">
    <div class="create-modal" @click.stop>
      <div class="create-modal__header modal-header">
        <h3 class="modal-header__title">Create post</h3>
        
        <add-icon class="modal-header__close-button" @click="onClose" />
      </div>
      
      <div class="create-modal__body modal-body">
        <label for="post-content" class="modal-body__post-label">
          Post content
        </label>

        <textarea
          class="modal-body__post-content"
          id="post-content"
          v-model.trim="value"
          placeholder="Enter post text..."
        ></textarea>

        <button
          class="modal-body__button"
          @click="createPost"
        >
          Create post
        </button>
      </div>
    </div>
  </modal-container>
</template>

<style scoped lang="sass">
.create-modal
  background-color: var(--post-bg-color)
  border-radius: 10px
  width: 80rem

.modal-header
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 4rem
  
  &__title
    font-weight: 400
    font-size: 5rem
  
  &__close-button
    cursor: pointer
    width: 8rem
    height: 8rem
    transform: rotate(45deg)

.modal-body
  margin: 0 4rem 4rem 4rem
  display: flex
  flex-direction: column
  
  &__post-label
    font-size: 4rem
    margin-bottom: 2rem
  
  &__post-content
    min-height: 40rem
    max-height: 80rem
    border: none
    border-radius: 10px
    padding: 2rem
    outline: none
    resize: vertical
    background-color: var(--bg-color)
    color: var(--text-color)
    box-shadow: var(--input-shadow)
  
  &__button
    cursor: pointer
    padding: 3rem 0
    background-color: var(--accent-color)
    box-shadow: var(--button-shadow)
    border: none
    border-radius: 10px
    color: #fff
    font-size: 4rem
    margin-top: 4rem
</style>
