<script lang="ts" setup>
import { useRouter } from 'vue-router';

export interface PostCardProps {
  id: string
  answerId: string | null
  createdAt: Date
}

const props = defineProps<PostCardProps>();
const router = useRouter();

const redirectToPost = () => {
  router.push(`/post/${props.id}`);
}

const cutId = (id: string) => {
  const idParts = id.split('-');
  let first = idParts[0];
  let last = idParts[idParts.length - 1];

  return `${first}...${last}`;
}
</script>

<template>
  <article class="post-card" @click="redirectToPost">
    <header class="post-card__header post-header">
      <div class="post-header__id-container post-id-container">
        <p class="post-id-container__text">
          {{ cutId(id) }}
        </p>
      </div>

      <time class="mini-time">{{ createdAt.toLocaleString() }}</time>
    </header>

    <section class="post-card__content">
      <slot />
    </section>
  </article>
</template>

<style lang="sass" scoped>
.post-card
  cursor: pointer
  width: 100%
  padding: 3rem 4rem
  box-shadow: var(--post-shadow)
  background-color: var(--post-bg-color)
  color: var(--text-color)
  font-size: 4rem
  border-radius: 10px
  display: flex
  flex-direction: column
  gap: 4rem

  &__header
    display: flex
    justify-content: space-between
    align-items: center

    .post-header__id-container
      display: flex

      .post-id-container__text
        margin: 0
        font-size: 3rem

    .mini-time
      font-size: 3rem
</style>
