<script setup lang="ts">
import BookmarkIcon from '@/shared/ui/icons/BookmarkIcon.vue';
import AddIcon from '@/shared/ui/icons/AddIcon.vue';
import SearchIcon from '@/shared/ui/icons/SearchIcon.vue';
import CommentIcon from '@/shared/ui/icons/CommentIcon.vue';

export interface PostHeaderEmits {
  (e: 'add-click'): void
  (e: 'comment-click'): void
  (e: 'update:searchText', value: string): void
}

export interface PostHeaderProps {
  useCommentIcon?: boolean,
  useAddIcon?: boolean,
  searchText: string,
}

defineProps<PostHeaderProps>();
const emit = defineEmits<PostHeaderEmits>();

const onAddClick = () => emit('add-click');
const onCommentClick = () => emit('comment-click');
const onInput = (e: Event) => {
  const target = e.target as HTMLInputElement;

  emit('update:searchText', target.value);
}
</script>

<template>
  <Teleport to="#application-navbar">
    <bookmark-icon />
    <div class="app-navbar__search app-search">
      <search-icon />
      <input
        :value="searchText"
        @input="onInput"
        class="app-search__input"
        placeholder="Enter text..."
      />
    </div>
    <add-icon
      v-if="useAddIcon"
      class="app-navbar__create-post"
      @click="onAddClick"
    />
    <comment-icon
      v-if="useCommentIcon"
      class="app-navbar__create-post"
      @click="onCommentClick"
    />
  </Teleport>
</template>

<style scoped lang="sass">
.app-navbar__search
  display: flex
  flex-direction: row
  gap: 2rem
  align-items: center
  background-color: var(--post-bg-color)
  box-shadow: var(--post-shadow)
  border-radius: 10px
  width: 100%
  padding: 0 2rem
  position: relative

.app-search__input
  color: var(--text-color)
  font-size: 3rem
  height: 100%
  width: 100%
  border: none
  outline: none
  padding: 3rem 0
  background: transparent

.app-navbar__create-post
  cursor: pointer
</style>
