<script lang="ts" setup>
import type { IPost } from '@/entities/post/model';
import PostCard from '@/entities/post/ui/PostCard.vue';
import { ref, watch } from 'vue';

export interface PostListProps {
  posts: IPost[]
  scrollHeight: number
}

export interface PostListEmits {
  (e: 'update:scrollHeight', value: number): void,
}

const props = defineProps<PostListProps>();
const emit = defineEmits<PostListEmits>();
const postContainer = ref<HTMLElement | null>(null);

const setScrollHeight = () => {
  if (postContainer.value === null) {
    return;
  }

  emit('update:scrollHeight', postContainer.value.scrollTop);
}

watch(() => props.scrollHeight, () => {
  if (props.scrollHeight === -1 && postContainer.value !== null) {
    emit('update:scrollHeight', postContainer.value.scrollHeight)
    postContainer.value.scrollTop = postContainer.value.scrollHeight;
  }
});
</script>

<template>
  <div class="post-list" @scroll="setScrollHeight" ref="postContainer">
    <transition-group name="add-animation">
      <post-card
        v-for="post in posts"
        :key="post.id"
        :id="post.id"
        :answer-id="post.answerId"
        :created-at="post.createdAt"
      >
        {{ post.text }}
      </post-card>
    </transition-group>
  </div>
</template>

<style lang="sass" scoped>
.post-list
  display: flex
  flex-direction: column
  gap: 4rem
  padding: 0 5rem 4rem 5rem
  height: calc(95% - 9rem)
  overflow-y: auto
  overflow-x: hidden

.add-animation-enter-active, .add-animation-leave-active, .add-animation-move
  transition: all 0.5s ease

.add-animation-enter-from, .add-animation-leave-to
  opacity: 0
  transform: translateX(30px)

.add-animation-leave-active
  position: absolute
</style>
