<template>
  <div class="icon-wrapper">
    <svg
      width="16"
      height="21"
      viewBox="0 0 16 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="bookmark"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.83813 0.249986C6.13186 0.249717 5.09064 0.249553 4.22312 0.531428C2.47261 1.10021 1.10017 2.47264 0.531397 4.22316C0.249523 5.09067 0.249687 6.13189 0.249955 7.83816L0.249972 15.4214C0.249965 16.3511 0.24996 17.0942 0.295033 17.6664C0.339446 18.2302 0.433907 18.765 0.720161 19.1894C1.29457 20.041 2.29567 20.5014 3.31604 20.3833C3.82453 20.3245 4.29206 20.0482 4.74906 19.715C5.21285 19.3768 5.77704 18.8932 6.48295 18.2881L6.50876 18.266C7.19955 17.6739 7.39619 17.5218 7.58353 17.4556C7.85299 17.3604 8.14695 17.3604 8.41642 17.4556C8.60376 17.5218 8.8004 17.6739 9.49119 18.266L9.51699 18.2881C10.2229 18.8932 10.7871 19.3768 11.2509 19.715C11.7079 20.0482 12.1754 20.3245 12.6839 20.3833C13.7043 20.5014 14.7054 20.041 15.2798 19.1894C15.566 18.765 15.6605 18.2302 15.7049 17.6664C15.75 17.0942 15.75 16.3511 15.75 15.4214L15.75 7.83817C15.7503 6.13189 15.7504 5.09067 15.4685 4.22316C14.8998 2.47264 13.5273 1.10021 11.7768 0.531428C10.9093 0.249553 9.86809 0.249717 8.16181 0.249986H7.83813ZM4.68665 1.95801C5.29836 1.75926 6.08032 1.75 7.99997 1.75C9.91963 1.75 10.7016 1.75926 11.3133 1.95801C12.6072 2.37841 13.6216 3.39282 14.042 4.68668C14.2407 5.29839 14.25 6.08035 14.25 8V15.3874C14.25 16.3589 14.2494 17.0425 14.2095 17.5486C14.1685 18.0701 14.092 18.268 14.0363 18.3506C13.7752 18.7376 13.3201 18.9469 12.8563 18.8933C12.7574 18.8818 12.5573 18.8111 12.1346 18.5029C11.7244 18.2038 11.205 17.7593 10.4674 17.1271L10.3682 17.042C9.82605 16.5764 9.40329 16.2134 8.91615 16.0413C8.32333 15.8318 7.67662 15.8318 7.08379 16.0413C6.59665 16.2134 6.1739 16.5764 5.63179 17.042L5.53257 17.1271C4.79496 17.7593 4.27555 18.2038 3.86532 18.5029C3.44267 18.8111 3.24258 18.8818 3.14364 18.8933C2.67984 18.9469 2.22479 18.7376 1.96369 18.3506C1.90799 18.268 1.83148 18.0701 1.7904 17.5486C1.75053 17.0425 1.74997 16.3588 1.74997 15.3874V8C1.74997 6.08035 1.75923 5.29839 1.95798 4.68668C2.37838 3.39282 3.39279 2.37841 4.68665 1.95801Z"
      />
    </svg>
  </div>
</template>

<style lang="sass" scoped>
.icon-wrapper
  width: 6rem
  height: 6rem
  display: flex
  justify-content: center
  align-items: center
.bookmark
  fill: var(--icon-color)
</style>