<template>
  <div class="icon-wrapper">
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="search"
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.02829 0C3.43119 0 0.515152 3.10416 0.515152 6.93335C0.515152 10.7625 3.43119 13.8667 7.02829 13.8667C10.6254 13.8667 13.5414 10.7625 13.5414 6.93335C13.5414 3.10416 10.6254 0 7.02829 0ZM1.51717 6.93335C1.51717 3.69327 3.98459 1.06667 7.02829 1.06667C10.072 1.06667 12.5394 3.69327 12.5394 6.93335C12.5394 10.1734 10.072 12.8 7.02829 12.8C3.98459 12.8 1.51717 10.1734 1.51717 6.93335Z"
      />
      <path
        class="search"
        d="M12.7267 12.2452C12.5311 12.0369 12.2138 12.0369 12.0182 12.2452C11.8225 12.4535 11.8225 12.7912 12.0182 12.9994L14.6902 15.8438C14.8858 16.0521 15.2031 16.0521 15.3987 15.8439C15.5944 15.6356 15.5944 15.2979 15.3987 15.0896L12.7267 12.2452Z"
      />
    </svg>
  </div>
</template>

<style lang="sass" scoped>
.icon-wrapper
  width: 4rem
  height: 4rem
  display: flex
  justify-content: center
  align-content: center

.search
  fill: var(--icon-color)
</style>