<script lang="ts" setup>
import { useRoute, useRouter } from 'vue-router';
import { ref, computed, watch } from 'vue';
import { usePostStore } from '@/entities/post/store';
import PostHeader from '@/entities/post/ui/PostHeader.vue';
import PostList from '@/entities/post/ui/PostList.vue';
import PostCard from '@/entities/post/ui/PostCard.vue';
import CreatePostModal from '@/entities/post/ui/CreatePostModal.vue';
import { isNullable } from '@/shared/functions/guards/is-nullable';

const route = useRoute();
const router = useRouter();
const id = ref(route.params.id as string);
const postStore = usePostStore();
const scrollHeight = ref(0);
const currentPost = computed(() => postStore.postMap[id.value]);
const isAddModalActive = ref(false);
const newPostText = ref('');
const searchText = ref('');
const replies = computed(() => 
  postStore.postCommentsMap[id.value].filter(
    post => post.text.toLowerCase().includes(searchText.value.toLowerCase())
  )
);

postStore.receive();

const setScrollHeight = (value: number) => {
  scrollHeight.value = value;
}

const redirectTo404 = () => {
  router.push({ name: '404' });
}

const createPost = () => {
  if (newPostText.value.length === 0) {
    return;
  }

  postStore.send(newPostText.value, id.value)
    .then(() => {
      hideAddModal();
      scrollHeight.value = -1;
    })
    .catch((...args) => {
      console.log('Cannot send message');
      console.error(...args);
    });
}

const hideAddModal = () => {
  newPostText.value = '';
  isAddModalActive.value = false;
}

const showModal = () => {
  newPostText.value = '';
  isAddModalActive.value = true;
}

watch(() => route.params, () => {
  if (isNullable(route.params.id)) {
    router.push({ name: 'topics' });
  }

  id.value = route.params.id as string;
});

const setSearchText = (value: string) => {
  searchText.value = value;
}
</script>

<template>
  <div v-if="!isNullable(currentPost)">
    <post-header
      :search-text="searchText"
      @update:search-text="setSearchText"
      @comment-click="showModal"
      use-comment-icon
    />

    <div class="main-post-card">
      <post-card
        :key="currentPost.id"
        :id="currentPost.id"
        :answer-id="currentPost.answerId"
        :created-at="currentPost.createdAt"
      >
        {{ currentPost.text }}
      </post-card>

    </div>

    <hr class="separator" />

    <post-list
      :posts="replies"
      :scroll-height="scrollHeight"
      @update:scroll-height="setScrollHeight"
    />

    <create-post-modal
      v-if="isAddModalActive"
      v-model="newPostText"
      @fog-click="hideAddModal"
      @close="hideAddModal"
      @save="createPost"
    />
  </div>
  <div v-else @load="redirectTo404"></div>
</template>

<style lang="sass" scoped>
.main-post-card
  padding: 0 5rem

.separator
  margin: 4rem 0
  border: none
  height: 2px
  background-color: #383B40
  @media (prefers-color-scheme: light)
    background-color: #CAC4D0
</style>
