<script lang="ts" setup>
import { ref, computed } from 'vue';
import { usePostStore } from '@/entities/post/store';
import PostList from '@/entities/post/ui/PostList.vue';
import PostHeader from '@/entities/post/ui/PostHeader.vue';
import CreatePostModal from '@/entities/post/ui/CreatePostModal.vue';

const postStore = usePostStore();

postStore.receive();

const isAddModalActive = ref(false);
const newPostText = ref('');
const scrollHeight = ref(0);
const searchText = ref('');
const topics = computed(
  () => postStore.topics.filter(
    post => post.text.toLowerCase().includes(searchText.value.toLowerCase())
  ),
);

const showAddModal = () => {
  newPostText.value = '';
  isAddModalActive.value = true;
};
const hideAddModal = () => {
  newPostText.value = '';
  isAddModalActive.value = false;
};

const createPost = () => {
  if (newPostText.value.length === 0) {
    return;
  }

  postStore.send(newPostText.value)
    .then(() => {
      hideAddModal();
      scrollHeight.value = -1;
    })
    .catch((...args) => {
      console.log('Cannot send message');
      console.error(...args);
    });
}

const setScrollHeight = (value: number) => {
  scrollHeight.value = value;
}

const setSearchText = (value: string) => {
  searchText.value = value;
}
</script>

<template>
  <post-header
    :search-text="searchText"
    @update:search-text="setSearchText"
    @add-click="showAddModal"
    use-add-icon
  />
  <post-list
    :posts="topics"
    :scroll-height="scrollHeight"
    @update:scroll-height="setScrollHeight"
  />

  <create-post-modal
    v-if="isAddModalActive"
    v-model="newPostText"
    @fog-click="hideAddModal"
    @close="hideAddModal"
    @save="createPost"
  />
</template>
