@use "sass:map"
@use "variables" as *

@mixin use-colors
  $light-colors: map.get($colors, "light")
  $light-text: map.get($light-colors, "text")
  $light-bg: map.get($light-colors, "bg")
  $light-post-bg: map.get($light-colors, "post-bg")
  $light-post-shadow: map.get($light-colors, "post-shadow")
  $light-icon-color: map.get($light-colors, "icon")
  $light-modal-fog-color: map.get($light-colors, "modal-fog")
  $light-input-shadow: map.get($light-colors, "input-shadow")
  $light-accent-color: map.get($light-colors, "accent-color")
  $light-button-shadow: map.get($light-colors, "button-shadow")
  $light-scroll: map.get($light-colors, "scroll")

  --text-color: #{$light-text}
  --bg-color: #{$light-bg}
  --post-bg-color: #{$light-post-bg}
  --post-shadow: #{$light-post-shadow}
  --icon-color: #{$light-icon-color}
  --modal-fog-color: #{$light-modal-fog-color}
  --input-shadow: #{$light-input-shadow}
  --accent-color: #{$light-accent-color}
  --button-shadow: #{$light-button-shadow}
  --scroll-color: #{$light-scroll}

  @media (prefers-color-scheme: dark)
    $dark-colors: map.get($colors, "dark")
    $dark-text: map.get($dark-colors, "text")
    $dark-bg: map.get($dark-colors, "bg")
    $dark-post-bg: map.get($dark-colors, "post-bg")
    $dark-post-shadow: map.get($dark-colors, "post-shadow")
    $dark-icon-color: map.get($dark-colors, "icon")
    $dark-modal-fog-color: map.get($dark-colors, "modal-fog")
    $dark-input-shadow: map.get($dark-colors, "input-shadow")
    $dark-accent-color: map.get($dark-colors, "accent-color")
    $dark-button-shadow: map.get($dark-colors, "button-shadow")
    $dark-scroll: map.get($dark-colors, "scroll")

    --text-color: #{$dark-text}
    --bg-color: #{$dark-bg}
    --post-bg-color: #{$dark-post-bg}
    --post-shadow: #{$dark-post-shadow}
    --icon-color: #{$dark-icon-color}
    --modal-fog-color: #{$dark-modal-fog-color}
    --input-shadow: #{$dark-input-shadow}
    --accent-color: #{$dark-accent-color}
    --button-shadow: #{$dark-button-shadow}
    --scroll-color: #{$dark-scroll}

@mixin use-parameters
  --z-modal: #{$z-modal}
