@use 'bootstrap'
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')

*
  box-sizing: border-box
  font-family: 'Inter', sans-serif

:root
  @include bootstrap.use-colors
  @include bootstrap.use-parameters

  font-size: 4px

body
  margin: 0
  background-color: var(--bg-color)
  color: var(--text-color)
  overflow: hidden

#app
  position: relative
  height: 100vh

.main-container
  height: 100%
  position: relative

*::-webkit-scrollbar
  width: 2rem

*::-webkit-scrollbar-track
  border-radius: 100vh
  background: transparent

*::-webkit-scrollbar-thumb
  background: var(--scroll-color)
  border-radius: 100vh

