<script setup lang="ts">
import { RouterView } from 'vue-router';
import MainContainer from '@/shared/ui/MainContainer.vue';
</script>

<template>
  <main-container>
    <router-view />
  </main-container>
</template>
